# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/
env/

# No need to send reports up at this moment
Reports/

# vscode
.vscode

# idea
.idea

# =4.2.0 (not sure what this does)
=4.2.0